[2019-07-16 10:53] cseeger-epages opened #1 "config example for multiple profiles"
**Is your feature request related to a problem? Please describe.**
To understand the use of multiple profiles.

**Describe the solution you'd like**
Add a config example for multiple profiles and references in the documentation

[2019-07-16 13:50] cseeger-epages commented on #1
changed example conf to describe multiple profiles

[2019-07-16 13:50] #1 closed

[2019-08-05 09:54] silberzwiebel opened #2 "runtime error: invalid memory address or nil pointer dereference"
**Describe the bug**
`mail2most` crashes with the following error message:

[code]

**To Reproduce**
 Sorry, I'm not sure what triggered the crash. I was testing `mail2most` and deleted (test) mails from the e-mail account, as well as mattermost-messages posted by `mail2most`. I think one of these two deletions might have caused the crash. Anyway, you might be able to fix the bug with the error me

[2019-08-05 09:59] silberzwiebel opened #3 "new e-mails are not posted if you have deleted e-mails"
**Describe the bug**
New e-mails are not posted to Mattermost, if you have previously deleted old e-mails from your e-mail account. You will need to receive as many new e-mails as you have deleted to get a new mattermost message.
This is very likely because `mail2most` seems to only count the mails it has posted but not the content to decide whether it will post a new notification (reasoning from

[2019-08-05 10:08] silberzwiebel opened #4 "invalid e-mail content stops mail2most"
**Describe the bug**
Having the option `SubjectOnly  = false`, `mail2most` does not post any e-mail. Instead, the log just says `invalid message,` and `mail2most` stops.
Unfortunately, there is no more information, although I set the log to `debug`.
Setting `SubjectOnly = true` posts all e-mails without any error. Setting `SubjectOnly  = false` back again posts new e-mails with all contents just f

[2019-08-05 14:48] cseeger-epages commented on #4
@silberzwiebel can you provide an example email that does not work ?

[2019-08-05 14:53] cseeger-epages commented on #3
@silberzwiebel what email server do you use ?

[2019-08-05 15:00] cseeger-epages commented on #2
for me it looks a bit related to https://github.com/cseeger-epages/mail2most/issues/4. Since the code fails while trying to read the body section. Ill take a look into the other 2 issues maybe i find out what exactly cased the error.

[2019-08-05 15:11] silberzwiebel commented on #3
mail.lima-city.de

[2019-08-05 15:20] silberzwiebel commented on #4
It seems that `mail2most` doesn't like e-mail attachments...
The corresponding error from `mattermost.log`:
[code]

[2019-08-05 15:21] cseeger-epages commented on #3
Looks like a classic POSTFIX roundcube combination ill try to reproduce the issue tomorrow.

This seems to be a problem of the reusage of mail id's maybe i find a better way to recognize if the mail is already send. My test mailserver never reuses mail id's but that maybe handled differently by different mailservers.

[2019-08-05 15:23] cseeger-epages commented on #4
ah yeah that could be i did not implemented email attachments they should be ignored by default but ill test this. What mattermost version do you use ?

[2019-08-05 15:31] silberzwiebel commented on #4
dev-linux-arm-v5.12.1

[2019-08-06 06:22] cseeger-epages commented on #4
i could reporduce the `Invalid message` error by adding an attachment

[2019-08-06 06:29] cseeger-epages commented on #4
now attachments got recognized but are not send to mattermost yet ill add this as a feature request. @silberzwiebel can you test if this now works for you ?

[linux-arm64.tar.gz](https://github.com/cseeger-epages/mail2most/files/3470650/linux-arm64.tar.gz)
[linux-arm.tar.gz](https://github.com/cseeger-epages/mail2most/files/3470651/linux-arm.tar.gz)

[2019-08-06 06:31] cseeger-epages opened #5 "optional email attachment forwarding"
**Is your feature request related to a problem? Please describe.**
#4 - attachments where not correctly parsed creating an `invalid message` error. The fix added attachment parsing but these are not send to mattermost yet

**Describe the solution you'd like**
add an option to forward email attachments to mattermost via config parameter

[2019-08-06 06:44] cseeger-epages commented on #2
since this was referred to `body, err := mail.ReadMessage(r)` this was changed by fixing #4. I'll test if there is any related problem to #3.

[2019-08-06 07:31] silberzwiebel commented on #4
Thanks for the quick attempts to fix the issue!
I tested your attached version but it isn't working. But I realized that it's not the attachment. My test-mail with attachment (a simple .txt file) was properly handled from the old `mail2most` version.
But since the new version gives more detailed output, I think here is the root cause of the crash (as it crashes afterwards):

[code]

[2019-08-06 07:33] cseeger-epages commented on #4
thanks for your fast response ill take a look why the charset is not handled correctly

[2019-08-06 07:56] cseeger-epages commented on #3
I fixed the uid to use the correct uid from the mail server and not the sequence number. Please delete your `data.json` on the first start you will get all new mails passing your filter since no ids are cached but then deleting shouldn't be an issue. Can you confirm its working now ?

[linux-arm.tar.gz](https://github.com/cseeger-epages/mail2most/files/3470997/linux-arm.tar.gz)
[linux-arm64.tar.gz

[2019-08-06 08:03] cseeger-epages commented on #4
@silberzwiebel hm i tryed with different text files and converting them to different charsets using
`iconv --from-code=UTF-8 --to-code=ISO-8859-1 test.txt > test2.txt` but everything worked well. Can you provide a full log please and maybe a testfile ?

[2019-08-06 08:22] silberzwiebel commented on #4
Sorry, I think that was a misunderstanding.
I think, it's the encoding ISO-8859-1 of *the e-mail* that makes
problems (not the encoding of attachments).
I have a mail from service-shop@deutschepost.de (online stamps) that is
written with

charset=iso-8859-1

and this crashes mail2most.
I tried to write a mail with the same encoding but couldn't find the
option in my e-mail clients.
The full log, b

[2019-08-06 08:27] cseeger-epages commented on #4
I was not able to reproduce the error yet but i found the code that triggers the error and changed it, can you test if this works ?

[linux-arm.tar.gz](https://github.com/cseeger-epages/mail2most/files/3471109/linux-arm.tar.gz)
[linux-arm64.tar.gz](https://github.com/cseeger-epages/mail2most/files/3471110/linux-arm64.tar.gz)

[2019-08-06 09:13] cseeger-epages commented on #4
I was able to reproduce the error using different charset encodings i added a fix that trys to convert if a charset error is found and logs out an error if its not convertable, also it will not break mail2most anymore and will just go to the next mail. Can you test if it works in your case ?

[linux-arm.tar.gz](https://github.com/cseeger-epages/mail2most/files/3471323/linux-arm.tar.gz)
[Uploading

[2019-08-06 09:24] silberzwiebel commented on #4
Sorry, still doesn't work, also no further error is logged:

[code]

[2019-08-06 09:32] cseeger-epages commented on #4
That looks weird this error should be catched within an Error or Debug maybe i just send you an old build. Sorry but can you try again ?

[linux-arm.tar.gz](https://github.com/cseeger-epages/mail2most/files/3471423/linux-arm.tar.gz)
[linux-arm64.tar.gz](https://github.com/cseeger-epages/mail2most/files/3471424/linux-arm64.tar.gz)

[2019-08-06 13:32] jamespmonaco opened #6 "General questions"
I hope I might ask a few general questions.   I wasn't able to find any documentation besides the readme file.

1) I am getting a certificate error.  Are there instructions for certificate configurations?
2) Are all the filters necessary? What happens if they are empty?  Are they matched to simple strings or regular expressions?
3) Are there more detailed instructions anywhere?

[2019-08-07 08:35] silberzwiebel commented on #4
I get more debug messages now (like `mail found` or `attachments found`) but still it crashes with this message only:

[code]

I know for certain that it crashes with e-mails from Deutsche Post. I could forward you that e-mail (it contains some private data, so I don't want to put it here) if you provide me an e-mail adress. Or you could buy some stamps incl. bill from https://shop.deutschepost.de

[2019-08-07 08:42] cseeger-epages commented on #4
@silberzwiebel i send you an email (hopefully to the correct address :D).

[2019-08-07 08:44] silberzwiebel commented on #4
Oh, and [this e-mail](http://newsletter.gls.de/m/11482349/617045-82f0f8eb0632699f8eb04de5b7bfa058) also crashes `mail2most`. Not sure to what extent the "mail" on the web is the same as the true e-mail.
(e-mail has arrived, thanks!)

[2019-08-07 08:56] silberzwiebel opened #7 "Render HTML e-mails (or ignore HTML)"
**Is your feature request related to a problem? Please describe.**
Unfortunately, a lot of people write HTML e-mails. `mail2most` does not render these e-mails, making the text in mattermost not very useful, see screenshot below.

**Describe the solution you'd like**
Either render HTML e-mails or (possibly easier/better?) only render the text-part of e-mails, ignoring any HTML formatting.

**Addit

[2019-08-07 08:59] silberzwiebel commented on #3
Works now, thanks!

[2019-08-07 08:59] #3 closed

[2019-08-07 09:41] cseeger-epages commented on #2
i close this since it is more or less a dublicate of one of the errors from #4

[2019-08-07 09:41] #2 closed

[2019-08-07 09:46] cseeger-epages commented on #4
OK :) i found it more or less. The first mail from deutsche post worked for me without any problems but the second one from gls (i just copied the html into an email and send it to my testing mailserver) broke with `invalid message` while posting to mattermost. I dont know exactly the reason why it breaks since i use the mattermost client to post the message and get the error from there library, b

[2019-08-07 11:53] cseeger-epages commented on #4
i added the option to stripHTML from subject and body and also the maximum message length of mattermost messages is `16383` characters thats why this message is invalid. You can now add the `StripHTML = true|false` option to your Mattermost Profile like
[code]
also every message that is bigger than `16383` characters will be shortend. This should now fully work and even post the mail body correctl

[2019-08-07 12:21] cseeger-epages commented on #7
oh i already added this in https://github.com/cseeger-epages/mail2most/commit/c697b089aa32c07b3088157c31531ec61993e595 :)

[2019-08-07 12:27] cseeger-epages commented on #6
Hi @jamespmonaco sure you can ask questions :).

1. can you give me a detailed error message ? is the certificate error on the mail server side or mattermost side ? Maybe i have to add sth. like `VerifyTLS = true|false` for them.
2. No not all filters are necessary if a filter is empty its just not used, feel free to use the subset of filters you need. The most filters use `strings.Contains` to ma

[2019-08-07 12:39] cseeger-epages commented on #7
@silberzwiebel feel free to test it and close the issue if you think it fits your needs

[2019-08-07 13:39] jamespmonaco commented on #6
Thanks for the help!  I've now spent more time with your tool and can hopefully ask more educated questions.

I figured out the ssl issues.  I just needed to put certificates in the right places for the imap server (dovecot).

My only issue at the moment is the following.  The emails from Gitlab are not in plain text, so having the entire email sent to mattermost is not useful.  Is there a way to

[2019-08-07 13:43] cseeger-epages commented on #7
just a dump from #4 to have it documented here also

i added the option to stripHTML from subject and body and also the maximum message length of mattermost messages is 16383 characters thats why this message is invalid. You can now add the StripHTML = true|false option to your Mattermost Profile like
[code]

[2019-08-07 13:44] cseeger-epages commented on #6
yes actually there is a feature request that is in review see #7, when this and #4 is fully solved i will create a new release for now i can give you a compiled binary if you can tell my what architecture you use (linux, windows, arm, ...)

[2019-08-07 13:54] jamespmonaco commented on #6
Great!  I'm using linux. Thanks!

[2019-08-07 13:56] cseeger-epages commented on #6
ok then try using this one and dont forget to add the `StripHTML = true` option as descriped in #7

[linux-386.tar.gz](https://github.com/cseeger-epages/mail2most/files/3477339/linux-386.tar.gz)
[linux-amd64.tar.gz](https://github.com/cseeger-epages/mail2most/files/3477340/linux-amd64.tar.gz)

[2019-08-07 14:27] jamespmonaco commented on #6
Thanks!  It's definitely much better.  The final output is a little strange, but definitely good enough.  I'm sure later versions will be even better.

Just in case you're interested, I'm including the outputs for the current release, the new code without stripping, and the new code with stripping.

[code]

New code without stripping:
[code]

New code with stripping
[code]

[2019-08-07 14:30] cseeger-epages commented on #6
thanks that helps, yeah there are some issues due to the stripping removes all newlines which looks a bit wierd im looking for a better way :D

[2019-08-07 15:50] itbabu opened #8 "Multiple profiles exception"
Hello,

**Describe the bug**

When I add a second Profile into the mail2most.conf and an email arrives into the second account I get an error and I get no notification into the channel.

[code]

If i remove the first account (it was working before) I get the notifications.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a second profile to  mail2most.conf
2. Send an email to the second a

[2019-08-08 07:08] silberzwiebel commented on #4
Fantastic, it works! Thanks!

[2019-08-08 07:08] #4 closed

[2019-08-08 07:11] silberzwiebel commented on #7
The `stripHTML` option works and it looks way better than before. However, since the newlines are also stripped (as also mentioned in #6), I think this issue should be left open until at least the newlines are back in ;)

[2019-08-08 07:11] cseeger-epages commented on #4
great :) thank you very much for your help !

[2019-08-08 07:12] cseeger-epages commented on #7
yep ill take a look at this when i have some time :)

[2019-08-08 07:53] cseeger-epages commented on #7
I changed the used library to parse the text correctly this now looks way better. Feel free to test this new version. If this issue is closed i will create a new release.

[linux-386.tar.gz](https://github.com/cseeger-epages/mail2most/files/3480466/linux-386.tar.gz)
[linux-amd64.tar.gz](https://github.com/cseeger-epages/mail2most/files/3480467/linux-amd64.tar.gz)
[linux-arm.tar.gz](https://github.

[2019-08-08 07:55] cseeger-epages commented on #6
ill close this issue here since the HTML rendering stuff has its own issue. If you need regex for some of the filters feel free to open a feature request :)

[2019-08-08 07:55] #6 closed

[2019-08-08 08:03] cseeger-epages commented on #8
Hi @itbabu what architecture do you use ? maybe this issue is fixed with #4 im waiting for #7 to be confirmed for creating a new release.

[2019-08-08 08:26] silberzwiebel commented on #7
Looks good on my side!

[2019-08-08 08:42] cseeger-epages commented on #7
great ill create a new release

[2019-08-08 08:42] #7 closed

[2019-08-08 09:24] itbabu commented on #8
Hello, mattermost it's on a digitalocean droplet with ubuntu so we are using linux-amd64.tar.gz
I'we tested the latest realease 1.2 and I see the same error.
I've tried all combinations of SubjectOnly StripHTML without success

[code]

[2019-08-08 10:50] cseeger-epages commented on #8
i found the problem the caching used the wrong index thank you for finding it. Can you test it and confirm if it is working for you ?

[linux-amd64.tar.gz](https://github.com/cseeger-epages/mail2most/files/3481294/linux-amd64.tar.gz)

[2019-08-08 13:44] itbabu commented on #8
ok, the updated version works.
Thanks
Marco

[2019-08-09 06:36] cseeger-epages commented on #8
nice thank you very much.

[2019-08-09 08:13] cseeger-epages commented on #8
i have to reopen this since the fix does not fully work

[2019-08-09 08:14] cseeger-epages commented on #8
the breaking scenario is when the caching file is created for one profile and another one is added then it crashes due to wrong index.

[2019-08-09 11:29] itbabu commented on #8
Hello, I still get this error today:
[code]

[2019-08-12 06:24] cseeger-epages commented on #8
@itbabu can you try the [latest release build](https://github.com/cseeger-epages/mail2most/releases/tag/v1.2.1) please.

[2019-08-12 07:16] silberzwiebel opened #9 "crash with no network"
When my provider is reconnecting the internet connection, my server has no network for some time (seconds?). This apparently leads `mail2most` to crash. Systemd restarts it but stops to do so after some failed tries. I've added `RestartSec=30` to the unit file and hope that this will be enough to fix this problem.

[code]

[2019-08-12 07:19] silberzwiebel opened #10 "allow longer time intervals for mail checking"
**Is your feature request related to a problem? Please describe.**
My system-log contains a lot of `mail2most` messages as it checks e-mails every 10 seconds or so. I don't get that often e-mails, one check every 10 minutes or even once an hour would be enough.

**Describe the solution you'd like**
A configurable time interval in seconds or minutes via `mail2most.conf`.

[2019-08-13 09:24] cseeger-epages commented on #9
i changed the behavior not to crash and just log the error instead and added your `RestartSec` to the documentation using 60 seconds. Can you confirm that it is working ? (also #10 is included in this binary)

[linux-arm.tar.gz](https://github.com/cseeger-epages/mail2most/files/3496264/linux-arm.tar.gz)
[linux-arm64.tar.gz](https://github.com/cseeger-epages/mail2most/files/3496265/linux-arm64.tar.

[2019-08-14 07:11] itbabu commented on #8
Hello,
first try:
no errors but no channel notifications

second try after swapping [[Profile]] positions inside the configuration file:
notifications work

Maybe something was still cached?

[code]

[2019-08-14 08:07] silberzwiebel commented on #9
Great, works, thanks!

[2019-08-14 08:07] #9 closed

[2019-08-14 08:08] silberzwiebel commented on #10
Works fine!

[2019-08-14 08:08] #10 closed

[2019-08-14 08:34] cseeger-epages commented on #8
did you try to delete the data.json ?

[2019-08-15 07:31] cseeger-epages commented on #8
if there are no more errors i will close this issue for now. Feel free to comment again if you find something not working correctly.

[2019-08-15 07:31] #8 closed

[2019-09-02 12:21] jprusch opened #11 "Support unencrypted IMAP on port 143"
Standard IMAP is currently not supported.

lib/imap.go
`func (m Mail2Most) connect(profile int) (*client.Client, error) {
	c, err := client.**DialTLS**(m.Config.Profiles[profile].Mail.ImapServer, nil)
	if err != nil {`

As TLS-encrypted connections should be used, one should be able to connect to unencrypted IMAP  to rule out any configuration problems related to TLS.

Please make usage of TLS con

[2019-09-13 10:41] skkodz opened #12 "Add option to broadcast to user(s) and/or channel"
I've deployed mail2most to monitor an email account and i wanted Mattermost to notify users when a new message is send.  To do this I hacked the source code (I am not a programmer!) so that @channel is prepended to all messages it sends.
I'm possibly not the only person who might like this feature, so I'm requesting it is added as a configurable option in the Profile.Mattermost.  I'm thinking alon

[2019-09-18 08:26] jprusch opened #13 "Support bot accounts to connect to Mattermost server"
It would be great, if a bot account could be used by mail2most to connect to Mattermost. The bot could be configured to post to all teams/channels, so there is no need to add the currently used user account to each team/channel.

[2019-10-01 13:57] cseeger-epages commented on #11
hello @jprusch thanks for your ticket i added a new option called `ImapTLS` to the Profile.Mail part which allows to define TLS state of the imap protocol

[2019-10-01 13:57] cseeger-epages commented on #13
hi @jprusch what do you mean with bot account ?

[2019-10-01 14:26] cseeger-epages commented on #12
hi @skkodz, thank you for your ticket. I added the `Broadcast` option as a slice (same like channels) so you can add multiple broadcasts if you want

[2019-10-01 14:26] #12 closed

[2019-10-01 14:28] #11 closed

[2019-10-02 02:38] del-c opened #14 "option to hide the "from address" field"
It would be great to have the ability to hide/strip the "*From: \<John Doe\> john@mail.com*" field.

[2019-10-02 06:01] cseeger-epages commented on #14
hello @del-c i added an additional option in `Profile.Mattermost` called `HideFrom` option which allows you to hide the from field in mattermost messages. I'll create a new release.

[2019-10-02 06:05] cseeger-epages commented on #13
https://docs.mattermost.com/developer/bot-accounts.html

[2019-10-02 06:10] cseeger-epages commented on #14
The latest release includes the `HideFrom` option. Feel free to test it and close the issue if everything works as intended :)

[2019-10-02 06:21] cseeger-epages commented on #13
@jprusch did you test it by using the bot account name as `Username` and the Bearer token as `Password` in `Profile.Mattermost` ?

[2019-10-02 06:40] jprusch commented on #13
Hi @cseeger-epages
I tried with a bot account and used the bot name & bearer token as credentials:

Log shows:
time="2019-10-02T08:36:56+02:00" level=error msg="Mattermost Error" Error=": Bot login is forbidden, "

But as mail2most runs as a separate application you're totally right that a bot account cannot be used.
I'll try a "normal" mattermost user with rights to post to all teams/channels.

T

[2019-10-02 06:40] #13 closed

[2019-10-02 13:15] del-c commented on #14
Working great! Thank you for this feature ! That was quick!

[2019-10-02 13:15] #14 closed

[2019-10-07 19:00] elyscape commented on #13
While this doesn't currently support bot accounts, it would be nice if it were extended to be able to support them. This would allow use with deployments that send all login through some single sign-on implementation (e.g. SAML or Google Apps).

[2019-10-07 20:38] mickelmayers opened #15 "unhandled charset \"windows-1254\""
**Describe the bug**
I'm trying to set mail2most with imap-mail.outlook.com. Unfortunatelly after estblishing connection to IMAP server I'm getting
ERRO[2019-10-07T22:31:33+02:00] Read Processing Error                         Error="unhandled charset \"windows-1254\""

**To Reproduce**
Steps to reproduce the behavior:
Set  ImapServer = "imap-mail.outlook.com:933" ?

./mail2most -c mail2most.conf

[2019-10-08 11:39] cseeger-epages commented on #15
hi @mickelmayers ill take a look at this soon. Thanks for reporting this bug.

[2019-10-22 00:06] del-c commented on #15
I have the same issue but with imap.googlemail.com:993/imap.gmail.com:993.

**Architecture**
Ubuntu Server 18.04.3 LTS x64

**Logs**
time="2019-10-21T19:58:17-04:00" level=debug msg="attachments found" filename="ÉTS_Robotiq_Invitation aux médias.pdf"
time="2019-10-21T19:58:17-04:00" level=debug msg="attachments found" filename="ÉTS_Robotiq_Communiqué.pdf"
time="2019-10-21T19:58:17-04:00" level=deb

[2019-10-27 11:19] jprusch opened #16 "Support posting direct messages"
We‘re using a Mattermost admin account allowed to post all channels and direct messages.
When configuring a profile posting to an @username, a mail never gets forwarded to the user. Is this not supported or is our configuration buggy?

[2019-10-28 13:26] cseeger-epages commented on #16
Hello @jprusch its actually not supportet yet. The code only searches for channels and not for users. Do you need the possibility to post to users also ?

[2019-10-28 14:34] jprusch commented on #16
Hi @cseeger-epages that would be great. My use case is moving mail on the mail server / client side rule based to specific IMAP folders. mail2most then picks these mails out of the folder & creates a user based direct notification. Using the mail client is then only needed, when I really need to answer eg. an external mail.
I know that the configuration of the mail2most profiles by now will be a l

[2019-11-05 08:41] cseeger-epages commented on #15
I found the bug, the used library does not support all windows charsets. I opend a PR for this:
- https://github.com/emersion/go-message/pull/60
I create a new release using my fork to fix this error.

[2019-11-05 08:46] cseeger-epages commented on #15
@mickelmayers, @del-c i created a new [release](https://github.com/cseeger-epages/mail2most/releases/tag/v1.5.1). Can you please test and confirm if it is working ? Please close the issue if the problem is solved.

[2019-11-05 19:35] del-c commented on #15
It is running seemlessly on my side for 6 hours without issue. Thanks @cseeger-epages !

[2019-11-06 16:14] cseeger-epages commented on #15
@del-c awesome :+1: ill close the issue and i stay tuned with the PR of the backend library.

[2019-11-06 16:14] #15 closed

[2019-11-07 12:28] del-c commented on #15
I don't have the same error message but stopped working suddently. The latest error shows disconnetion but the password is correct.

**Logs**
time="2019-11-07T07:22:33-05:00" level=debug msg=mailserver server="imap.gmail.com:993" status=connected
time="2019-11-07T07:22:33-05:00" level=debug msg="checking folders" folders="[techno]"
time="2019-11-07T07:22:43-05:00" level=info msg="processing mails"

[2019-11-07 14:30] del-c commented on #15
@cseeger-epages : It started failing again. Always in the same profile. If I remove this profile from the conf file it is fine. All the profiles share the same user/passwd configuration.

**Logs**
time="2019-11-07T09:26:06-05:00" level=debug msg=mailserver server="imap.gmail.com:993" status=connected
time="2019-11-07T09:26:06-05:00" level=debug msg="checking folders" folders="[jeux-video]"
time="2

[2019-11-11 19:57] del-c opened #17 "IMAP connection closed"
**Describe the bug**
A profile makes the imap connection closed. It used to work. The _Profile_ is sharing same credentials of other profiles. All other profiles are working fine until I add the failing profile back in the configuration file.

**To Reproduce**
Add back the problematic profile in configuration file

**Release version**
1.5.1

**Architecture**
 Ubuntu Server 18.04.3 LTS x64

**Logs*

[2019-11-14 07:08] cseeger-epages commented on #17
Hello @del-c thank you for reporting the bug. I'll try to reproduce it.

[2019-11-14 13:38] del-c commented on #17
Hello @cseeger-epages !

We have 350+ messages in that folder and it is the biggest one. Could it be related ?

[2019-11-20 00:59] del-c commented on #17
Hello @cseeger-epages !
Now I have a second folder with the issue. It worked fine today then stopped working. After commenting out this folder config in the conf file, I had to delete the data.json file, else mail2most wasn't going further than this (after restart) :

time="2019-11-19T19:52:06-05:00" level=debug msg="initialising logging" format=text output=logfile

Let me know if you want more lo

[2019-11-20 14:31] JonteHag opened #18 "Any chance for Mattermost Access Token support (instead of user/pass login) ?"
Hi,

When running Gitlab/Mattermost Omnibus install (which should be very common), user login to Mattermost directly doesn't seem to work. (Mattermost doesn't seem to use the existing SSO to Gitlab when login is performed by Mail2Most or as a test with curl ).

But logging in with the Mail2Most service user Access Token works fine.
Is there any chance of Access Token support for Mail2Most?

Best r

[2019-11-25 09:36] #18 closed

[2019-11-25 09:36] JonteHag commented on #18
Fuund that putting the Access Token as username works, closing.

[2019-11-28 08:57] cseeger-epages commented on #17
hello @del-c ill take a look at this next week. Sorry for the long delay.

[2019-11-28 22:13] slemernet opened #19 "level=error msg="Error reaching mailserver" Error="dial tcp: missing address" Server="
In log connection with smtp working fine, but not see a post in mattermost

Why this message means?

I use a Ubuntu 16.04 LTS server, process run as service in same server my mattermost server

[2019-11-29 00:56] slemernet opened #20 "accented characters in channel name"
**Describe the bug**
if channel name has a accented characters plugin not found a channel

**To Reproduce**
create a channel name like as "demonstração"

**Expected behavior**
A clear and concise description of what you expected to happen.

**Release version**
The version tag of the used version.

**Architecture**
ubuntu server 16.04 LTS 65 bits

**Additional context**
Add any other context about

[2019-12-02 10:22] cseeger-epages commented on #19
Hello @slemernet thanks for opening an issue. Can you post the log please ?

[2019-12-02 10:23] cseeger-epages commented on #20
hi @slemernet thanks for finding this bug. Ill take a look at this.

[2019-12-02 12:12] cseeger-epages commented on #20
hi @slemernet i tried to reproduce the issue. You are right if you are using special characters it will not work since mattermost does not support special characters in channel identifiers only the name contains the special characters. If you go to your channel and `view info` there is a url where the last part is the channel name which contains no special characters.

e.g:
`https://mattermost.exa

[2019-12-02 12:22] cseeger-epages commented on #17
@del-c can you send me your `mail2most.conf` (please remove all private information like mailserver/password, mattermostuser/password etc.). What mailserver are you requesting (self hosted or some specific email provider like googlemail or microsoft etc. ?). The mailcount should not be a problem i tested it against a folder with 800+ messages and it worked fine. Can you add more log information ev

[2019-12-02 14:29] cseeger-epages commented on #16
@jprusch i created a branch and a pre-release including the `Users` option which is additional to the `Channels` where you can define a list of users to post to. Also i added a `DefaultProfile` where you can define defaults for all profiles which will be used if nothing is defined in the Profile itself. Can you test the new Pre-Release and tell me what do you think of it ?

https://github.com/csee

[2019-12-02 15:15] jprusch commented on #16
THANKS! I'll test later today & give feedback at once.

[2019-12-02 18:45] jprusch commented on #16
Hi,
posting to user channels works great. Thanks alot for that one...

I didn't get the default profiles to work.

I use the follwoing profile (comments stripped):

[code]

Starting the mail2most service or directly via command line I get:

[code]
Any idea?

When using the default profiles, it would be great, if the settings defined in the default profiles are always used unless a setting is overr

[2019-12-03 08:22] cseeger-epages commented on #16
@jprusch thanks for the fast response and testing. I check out the error.

You are right the default profile only overwrites the whole section. Your URL example makes totaly sense to me. Im thinking about other parts like not setting Channels and Users. Then Channels and Users would be used from the default but what if it is intendet to not have e.g. Users to be set that would be a problem i actua

[2019-12-03 08:26] cseeger-epages commented on #16
@jprusch can you delete your data.json (or move it away) since the error seems to be a problem between the inconsistency of the datafile (generated by another profile configuration) and the mail2most.conf

[2019-12-03 08:50] jprusch commented on #16
OK, will delete data.json & retry.

I cannot think of any use cases having Users set in a default profile.
IMHO, there are two options:

1. - Set Channels & Users only in REAL profiles
2. - Have a setting for real profiles to handle AND/OR of default channels/users like IgnoreDefaultChannels =true/false, IgnoreDefaultUsers = true/false, with default set to false (including the default channels)

T

[2019-12-03 08:58] cseeger-epages commented on #16
hm the 2nd option sounds interesting but i would not add an Ignore option for every field what do you think about a field `IgnoreDefaults` which would ignore the defaults completly. Then you have to define everything in the Profile again but this should only be nessesary if you want to overwrite a default with an empty value which should be a rare case so the additional configuration effort is ok

[2019-12-03 09:00] jprusch commented on #16
Yes! That is a good approach.

[2019-12-03 09:01] cseeger-epages commented on #16
great than ill implement this option. Thank you very much !

[2019-12-03 09:15] cseeger-epages commented on #16
ok i updated the [1.6.0-pre-release](https://github.com/cseeger-epages/mail2most/releases/tag/v1.6.0) and added the IgnoreDefaults option

[code]

i also added an inconsistency check that tests if the data.json contains data that are not related to the configuration. Your error should no be catched within a correct error handling without crashing the binary itself.

Can you test again and check if

[2019-12-03 09:21] JonteHag opened #21 "User authentication with *only* Access Token"
I have recently upgraded to the latest Mattermost (version 5.16.2) included in the Gitlab Omnibus package (version 12.5.2).

In the Omnibus package Mattermost uses SSO to Gitlab to authenticate users, this SSO authentication doesn't work when trying to authenticate a username directly against Mattermost.

In the previous version of Omnibus Mattermost a working solution was to supply the Access Tok

[2019-12-03 09:26] cseeger-epages commented on #16
oh i forgot to fix the issue that the defaults are only used per section :D

[2019-12-03 10:08] cseeger-epages commented on #16
ok now its in the [v1.6.0-pre-release]() @jprusch can you confirm if its working correctly.

[2019-12-03 12:08] cseeger-epages commented on #19
from the
[code]
log message you are missing the ImapServer in your configuration. The address is empty

[2019-12-03 12:09] #20 closed

[2019-12-03 12:13] cseeger-epages commented on #20
i added this into the documentations for v1.6.0

[2019-12-03 12:36] cseeger-epages commented on #21
Hello @JonteHag thank you for opening this issue. Ill take a look at this.

[2019-12-03 12:38] cseeger-epages commented on #21
@JonteHag can you send me a sample request for the login ?

[2019-12-03 13:40] cseeger-epages commented on #21
@JonteHag i added `AccessToken` to `Profile.Mattermost` you can now set `Username` and `Password` or `AccessToken`. Mail2Most will then authenticate using Bearer Header and retrieves its username from that request.

I put this in the [v1.6.0-pre-release](https://github.com/cseeger-epages/mail2most/releases/tag/v1.6.0) so you can test it. Since there are more changes ill post you the example config

[2019-12-03 13:57] JonteHag commented on #21
Thank you for the great support!
Authentication with only AccessToken works perfectly.

Many thanks!

[2019-12-03 13:57] #21 closed

[2019-12-03 19:16] jprusch commented on #16
Tested with default profiles in various configurations (Complete use / Partial use):

Works like a charm!

I deleted the data.json before, so I couldn't test the new error handling.

Great work! This should give this plugin a real push.

[2019-12-04 00:39] del-c commented on #17
@cseeger-epages : I'm using `imap.gmail.com:993` as e-mail provider.
I've uploaded the log file from a startup until a failure as well as my config file without user/passwd (all profiles use the same user/passwd).
[mail2most.log](https://github.com/cseeger-epages/mail2most/files/3919357/mail2most.log)
[mail2most.conf.txt](https://github.com/cseeger-epages/mail2most/files/3919363/mail2most.conf.txt

[2019-12-04 08:45] cseeger-epages commented on #16
@jprusch thank you very much for your input and ideas :+1: ill publish this later this day

[2019-12-04 08:45] #16 closed

[2019-12-04 08:54] cseeger-epages commented on #17
@del-c i published [v1.6.0](https://github.com/cseeger-epages/mail2most/releases/tag/v1.6.0) today i dont think that should fix the problem but you can try this first until i can reproduce the issue.

[2019-12-04 16:51] del-c commented on #17
@cseeger-epages : Got the same issue with 1.6.0 but at least I'm now running the latest one.

[2019-12-11 08:37] #19 closed

[2019-12-17 12:31] tillroy opened #23 "Ignore defaults does not work properly"
Here is example of config file
[code]

but when I try tun the docker image i get:
[code]

As far as I understand `IgnoreDefaults` should use defaults values from each section e.g. Mattermost and others when in `false`, but unfortunately it does not work. When set up it to `true` get the same error. In order to fix it I used redefinition of each section.

Would be really grateful for any help here.

[2019-12-17 12:34] tillroy opened #24 "Encoding issue"
During the run time, catch this error, which stops the server
[code]

[2019-12-19 18:27] MyeongkookKim commented on #24
it use `emersion/go-message` library to handle charset.
Library can't cover all charset before,but updated to 0.11.0 with supporting all charset! :smile:

[Check this out](https://github.com/emersion/go-message/releases/tag/v0.11.0)

so if we just updated library, it works fine with all charset.

@cseeger-epages

[2019-12-20 08:33] cseeger-epages commented on #24
i update the library thanks @MyeongkookKim and @tillroy

[2019-12-20 08:35] cseeger-epages commented on #23
hi @tillroy what version of mail2most do you use ?

[2019-12-20 08:38] #24 closed

[2019-12-20 08:38] cseeger-epages commented on #24
its in the 1.6.1 release

[2019-12-23 07:05] tillroy commented on #23
Hi @cseeger-epages, to be honest I use docker image `virtomize/mail2most:latest`

[2019-12-25 11:29] cseeger-epages commented on #23
@tillroy oh my fault i forgot to update the docker image. Please download the latest again and test.

[2020-01-06 09:09] tillroy commented on #23
@cseeger-epages, thank you for updates, I will play with updated image and let you know if find something new, thank you for the help.

[2020-01-06 09:09] #23 closed

[2020-01-08 13:49] tillroy opened #25 "Several users loop issue"
I've found that if I use this tool with several user profiles, and if one of them has some issue, for example:

[code]
all other users will not receive any notification as well

Thank you for the help in advance!

[2020-01-14 09:55] cseeger-epages commented on #25
oh thats interessting ill take a look at this.

[2020-01-14 09:56] cseeger-epages commented on #25
@tillroy can you provide a sample configuration for this (without any security related information please) ?

[2020-01-14 20:42] smootjenl opened #26 "Attachment forwarding"
Not sure if this is a feature still in development but the log shows mail2most finds attachements in emails but doesn't forward them to the mattermost channel. is there something i need to configure or is it still in development? Can't find any info about this.

log shows:
`time="2020-01-14T21:41:24+01:00" level=debug msg="attachments found" filename=the-it-department-is-work-ng-on-it-28026702.png

[2020-01-14 20:54] smootjenl opened #27 "Images in emails render code to mattermost channels"
**Describe the bug**
When emails with images embedded in them get send to mattermost channel by mail2most, the output contains code(?) and body text is gone.

OUTPUT:
`�PNG  IHDR szz� pHYs � � ��M tEXtSoftware www.inkscape.org�� Nc|!� ��`��z�J�^��),�l��k��OzU�� K��F Y1*]��pgV�J�@�^b�I�l�4L+D���\!$�8n$q�B�V�mα+fvw� Wͤ�#(�Y� ��z��SRR `�G�nj�0���$�c�������,��6���v x0�Br����K.=[������oM

[2020-01-20 08:25] cseeger-epages commented on #26
hey @smootjenl thank you for your issue. Its not implemented yet. I already implemented the attachements on the server side but not in the mattermost part. I'll take a look as soon as i have time :).

[2020-01-20 08:26] cseeger-epages commented on #27
@smootjenl alright thank you for finding this bug. I'll take a look at this soon.

[2020-01-20 15:47] cseeger-epages commented on #5
added in release [v1.7.0](https://github.com/cseeger-epages/mail2most/releases/tag/v1.7.0)

[2020-01-20 15:47] #5 closed

[2020-01-20 15:47] cseeger-epages commented on #26
added in release [v1.7.0](https://github.com/cseeger-epages/mail2most/releases/tag/v1.7.0)

[2020-01-20 15:47] #26 closed

[2020-01-20 15:48] cseeger-epages commented on #27
fixed in release [v1.7.0](https://github.com/cseeger-epages/mail2most/releases/tag/v1.7.0)

[2020-01-20 15:48] #27 closed

[2020-01-21 09:17] smootjenl commented on #27
Tested it with the new version. works like a charm!

[2020-01-21 09:25] smootjenl commented on #26
Tested with the new version and works like a charm. Thanks for the quick implementation!
I'm using this to escalate lost 3CX VoIP calls to mattermost channel, the email has a voicemail messages attached which is now being forwarded to the mattermost channel.

[2020-01-23 17:02] del-c commented on #17
@cseeger-epages : Got the same issue with 1.7.0. One more e-mail (gmail) folder decided to act the same this morning but was fine yesterday (closed IMAP connextion). I deleted a few older messages from this folder and the next time it ran it went throught..

[2020-01-24 07:57] cseeger-epages commented on #17
hm maybe this is a too many connections problem ill take a look at the code and change the connection handle and provide you a beta version.

[2020-01-24 08:08] cseeger-epages commented on #17
[linux-386.tar.gz](https://github.com/cseeger-epages/mail2most/files/4107311/linux-386.tar.gz)
[linux-amd64.tar.gz](https://github.com/cseeger-epages/mail2most/files/4107312/linux-amd64.tar.gz)

i uploaded you a beta version can you test if the problem persists ?

I changed the way the connections are handled since for every email a new connection was opend and closed now for every profile one con

[2020-01-24 16:24] del-c commented on #17
Unfortunately none of those worked.

level=error msg="Error reaching mailserver" Error="imap: connection closed" Server="imap.gmail.com:993"

[2020-01-24 22:33] Indarien opened #31 "tls cert validation"
Hello )
I have an error
Error="tls: first record does not look like a TLS handshake"
So, can i disable ImapTLS validating to work with self signed certs?
Thx a lot )

[2020-01-27 08:23] cseeger-epages commented on #17
hm ok then i have to dig deeper

[2020-01-27 08:35] cseeger-epages commented on #31
hello @Indarien i add a `VerifyTLS` option to `{Profile,DefaultProfile}.Mail`.

e.g:

[code]

set  `VerifyTLS = false`  to disable certificate validation

i added a testing version can you test if everything is working properly ?

[linux-386.tar.gz](https://github.com/cseeger-epages/mail2most/files/4116131/linux-386.tar.gz)
[linux-amd64.tar.gz](https://github.com/cseeger-epages/mail2most/files/411

[2020-01-27 09:04] Indarien commented on #31
Awesome, thx a lot )
linux-amd64.tar.gz
<https://github.com/cseeger-epages/mail2most/files/4116132/linux-amd64.tar.gz>
- tested, worked fine
I will test all windows and linux386.tar.gz versions some later

пн, 27 янв. 2020 г. в 11:35, Carsten Seeger <notifications@github.com>:

[2020-01-27 10:17] cseeger-epages commented on #31
@Indarien thats enough thanks the rest is build using cross compiling within go itself so i dont expect failures here.

[2020-01-27 10:20] cseeger-epages commented on #31
I published the option in [v1.7.1](https://github.com/cseeger-epages/mail2most/releases/tag/v1.7.1)
Thanks for your Issue @Indarien.

[2020-01-27 10:20] #31 closed

[2020-01-27 10:44] Indarien commented on #31
Ok, thx for help, and for your work )

пн, 27 янв. 2020 г. в 13:20, Carsten Seeger <notifications@github.com>:

[2020-01-30 11:05] Indarien commented on #17
Hi all, i got that error after changing mail profile settings, i can resolve this by removing data.json file and restart mail2most. Try this, just move old data.json to another location and restart service, may be this help.

[2020-01-30 11:34] cseeger-epages commented on #17
@del-c can you confirm if this is working for you too ?

[2020-01-30 11:36] Indarien commented on #17
Its working

[2020-01-30 12:11] Indarien opened #33 "message to user"
In inserted messages we see in top
`From: <John Smith> johnsmith@domain.com`
Is it possible to do a link to username to start private messaging with user John Smith)?
Link like somthing  <@johnsimth> if i click on this in mattermost it will open private channel with user @johnsimth.

Mattermost link looks like @sometext, i have another idea =)

May be insert some functionality like option to work\

[2020-01-30 12:54] cseeger-epages commented on #33
Hi @Indarien thanks for opening a feature request.

This can maybe work like
- try to find a user that has email address defined in FROM
- if not use regular header
- if found map user to Name

This should be implementable with adequate efford.

Creating a edit header option will be way harder since there is templating stuff involved that also needs addional validation.

I'll take a look at this w

[2020-01-30 13:01] Indarien commented on #33
Nice, that would be enough )

[2020-01-30 14:21] cseeger-epages commented on #33
@Indarien here is a pre release version including the user reference in the from field, can you try if its working properly for you ? Be sure that the email matches correctly the user defined email then it should work properly.

[linux-386.tar.gz](https://github.com/cseeger-epages/mail2most/files/4134358/linux-386.tar.gz)
[linux-amd64.tar.gz](https://github.com/cseeger-epages/mail2most/files/41343

[2020-01-30 16:00] Indarien commented on #33
Stopped to work with this version and doesn't work with previous)))
Deleting data.json file doesn't help too...
Interesting, i  will try to place older version, and after that will place
newer.

чт, 30 янв. 2020 г., 17:21 Carsten Seeger <notifications@github.com>:

[2020-01-30 17:45] Indarien commented on #33
Ok, i find the reason )
That error - `Error="Error in IMAP command FETCH: Invalid messageset"`
Will appear if mailbox it empty. May be the problem is in fetch.imap.
I wrote test msg and mail2most started properly and working, and else, data.json file was created.
New version si working too, but private channel doesnt work )
The link looking fine, but it call account preference of user )

[2020-01-30 18:12] Indarien commented on #33
It works, but shows @username with '@' =)

[2020-02-03 13:46] Fmyschkin opened #35 "Bot User Can Not Authenticate with AccessToken"
**Describe the bug**
Created Bot User with Access Token to post Mails to configured Channels. Configuration leads to Mattermost Error:
"caller":"mlog/log.go:174","msg":"Password field must not be blank","path":"/api/v4/users/login",

Bot User is valid and could be successfully tested via API Call:

curl -i -X POST -H 'Content-Type: application/json' -d '{"channel_id":"<channel-id>", "message":"Thi

[2020-02-05 12:54] cseeger-epages commented on #33
ok empty mailboxes should work so this is a bug ill take a look at this.

About the '@' i thought it would be nice since you then know that you can click the person.

[2020-02-05 12:57] cseeger-epages commented on #35
Hi @Fmyschkin thanks for opening the issue. Can you provide log details for your case ?

[2020-02-05 13:29] Indarien commented on #33
Its not a big problem, yes, "@" - shows us that we can click.
All is ok, service is working on production server, thx a lot )

ср, 5 февр. 2020 г. в 15:55, Carsten Seeger <notifications@github.com>:

[2020-02-07 01:53] del-c commented on #17
@cseeger-epages : Unfortunately it doesn't change anything on my side. I also tried this solution with the 2 version you sent me earlier as well as with latest 1.7.1.

But looking at the logs, it looks like it fails when it reaches 50 attachments from a folder. I deleted some older e-mails and everytime I restart mail2most it was able to get closer to the newest messages but failed at the 50th att

[2020-02-10 09:41] Fmyschkin commented on #35
Hi @cseeger-epages

Please find enclosed logs regarding this issue:

`time="2020-02-10T10:37:55+01:00" level=debug msg=sleeping intervaltime=10 unit-of-time=second
time="2020-02-10T10:38:05+01:00" level=debug msg=mailserver server="mailserver:993" status=connected
time="2020-02-10T10:38:05+01:00" level=debug msg="checking folders" folders="[Inbox/Testing]"
time="2020-02-10T10:38:06+01:00" level=in

[2020-02-12 09:30] cseeger-epages commented on #35
@Fmyschkin thanks for providing log details, i tested the AccessToken authentication and it works fine in my tests. What mail2most version do you use (there is no 5.19.1 yet :D) my test configuration looks sth. like this:

[code]

please check if access tokens are enabled in your mattermost and the user has the correct token and permissions https://docs.mattermost.com/developer/personal-access-tok

[2020-02-12 09:33] #33 closed

[2020-02-12 09:35] cseeger-epages commented on #17
@del-c ill take a look at this your right with one of the last versions attachment support is fully added and if its disabled via configuration it should not check. Lets see what i can do.

[2020-02-12 09:47] cseeger-epages commented on #17
@del-c please try this version with disabled attachments. I fully disabled the handling of attachments when the option is not set to true so from the parsing and file handling site nothing happens here anymore, hopefully this will fix the problem in the first place.

The 50 attachments thing ill try to test this maybe i'll find out why this happens.

[2020-02-12 10:08] cseeger-epages commented on #17
@del-c hm i tested the 50 attachment thing by sending 11 emails with 5 attachments each (more than 5 attachments are not supported by our mattermost to upload) which result in 55 attachments + some existing. Mail2most doesnt seem to have a problem with this maybe this is a restriction of your mailserver/provider we use a selfhosted [mailcow](https://mailcow.email/) which does not have to have a pr

[2020-02-12 12:00] cseeger-epages commented on #17
@del-c i added a `Mail.Limit` option to limit the amount of emails that where requested from the mailserver
[code]
will only request the last 10 emails from the mailserver. This should prevent from running into request limits. If set to 0 it does not limit the amount of mails.

[linux-arm64.tar.gz](https://github.com/cseeger-epages/mail2most/files/4191914/linux-arm64.tar.gz)
[windows-386.tar.gz](h

[2020-02-12 12:36] del-c commented on #17
Both versions were not able to manage the newest mail in the folders. In fact they went through the config file with previously failling profile and worked, without handling the newer messages.

Logs with the Limit = 10 option
`time="2020-02-12T07:33:05-05:00" level=debug msg=mailserver server="imap.gmail.com:993" status=connected
time="2020-02-12T07:33:05-05:00" level=debug msg="checking folders"

[2020-02-12 12:54] cseeger-epages commented on #17
@del-c ok so in general it works but you are missing the newest emails ?

[2020-02-12 12:59] del-c commented on #17
@cseeger-epages : working = passing throught the configuration file without issue, yes. But it is not handling the e-mails and sending it to mattermost. It just completes without errors.

[2020-02-12 13:15] cseeger-epages commented on #17
hm thats very strange. From your logs you dont have set the `Filter.Unseen` flag so the message queue should hold the 10 messages. I added some more debug for the processing of the message from the channel queue and when the mattermost message is posted maybe we can see more here.

Can you double check your matermost config also please (even if this should result in some error wich seems to be not

[2020-02-12 13:25] cseeger-epages commented on #17
@del-c ah can you also delete your data.json

[2020-02-12 13:27] del-c commented on #17
@cseeger-epages : Channel is define to one channel per profile.

Logs after deleting data.json (which doesn't get recreated...)

time="2020-02-12T08:25:54-05:00" level=debug msg=mailserver server="imap.gmail.com:993" status=connected
time="2020-02-12T08:25:54-05:00" level=debug msg="checking folders" folders="[culture-geek]"
time="2020-02-12T08:25:54-05:00" level=info msg="new mails" from=89 limit

[2020-02-12 13:32] cseeger-epages commented on #17
@del-c can you disable all profiles but one to prevent maybe some sideeffects. Also from the config you provided erlier you have a TimeRange of 72h are there emails that are within this 72h ?

[2020-02-12 13:36] cseeger-epages commented on #17
a version with more debug:

[linux-386.tar.gz](https://github.com/cseeger-epages/mail2most/files/4192537/linux-386.tar.gz)
[linux-amd64.tar.gz](https://github.com/cseeger-epages/mail2most/files/4192538/linux-amd64.tar.gz)
[linux-arm.tar.gz](https://github.com/cseeger-epages/mail2most/files/4192540/linux-arm.tar.gz)
[linux-arm64.tar.gz](https://github.com/cseeger-epages/mail2most/files/4192542/linu

[2020-02-12 14:02] del-c commented on #17
@cseeger-epages : Yes the mail was received this morning so it is under the 72h timeframe.

My complete config file for now is attached.
[mail2most.txt](https://github.com/cseeger-epages/mail2most/files/4192690/mail2most.txt)

Logs with only one profile :

time="2020-02-12T08:58:59-05:00" level=debug msg=mailserver server="imap.gmail.com:993" status=connected
time="2020-02-12T08:58:59-05:00" level

[2020-02-12 14:39] cseeger-epages commented on #17
Ah there is an Unseen filter in this profile can you set `Filter.Unseen=false` please. If the mails are marked as seen the filter not get any mail here and continues.

[2020-02-12 15:52] del-c commented on #17
@cseeger-epages : the unseen was set to false previoulsy and changed it to true this morning as I thought you wanted me to.

Thanks for the attachment issue I faced with the file I provided.

So far it is working for this profile now. Should I add all the other ones ?

[2020-02-12 21:14] del-c commented on #17
@cseeger-epages : So far everything seems to be working with all profiles I added back (one by one). Will keep you posted. Thanks for your work!

[2020-02-12 21:15] pittermann49 opened #37 "HTML2Markdown"
**HTML mails posted to mattermost appear as HTML source code.**
HTML mails with tables posted to mattermost end up as html source code.
When stripping HTML, the table becomes just a long line of text.

**Could there be an option to convert HTML mails to markdown**
When I copy/paste the email body manually from the mail to mattermost, the web app converts the HTML to markdown. Would a similar behav

[2020-02-13 08:47] cseeger-epages commented on #17
@del-c great :) we finally made it. Thank you very very much for your help and of course for your patience in this issue since it took a few month to finally track this down. Ill merge the changes and create a new release.

[2020-02-13 08:55] cseeger-epages commented on #17
The fixes are released in [v1.8.1](https://github.com/cseeger-epages/mail2most/releases/tag/v1.8.1)
@del-c feel free to repoen the issue if something in this case is not working properly.

[2020-02-13 09:01] cseeger-epages commented on #37
@pittermann49 thank you for your issue. You are right thats an issue. Ill take a look into this.

[2020-02-13 10:19] cseeger-epages commented on #37
it seems that this is not trival due to the fact that most of the html2markdown librarys are not able to correctly parse tables so this will take some more effort

[2020-02-13 11:55] del-c commented on #17
@cseeger-epages : Sorry to say that, but it started the same behavior during the night.... Tried deleteting the data.json file unsuccessfully.

It is probably related to Gmail. I wish I could leave their infra easier

Can I enable more debug messages ?

[2020-02-17 14:16] cseeger-epages commented on #37
@pittermann49 here is a version containing `Mattermost.ConvertToMarkdown` option. If set to true a html2markdown parser will parse the body and post the markdown. Im not fully happy with this solution since for your table example its only working for simple tables without having a specific `<thead>` structure since this will not be parsed correctly. But give it a try if it works for you.

[linux-3

[2020-02-18 09:26] cseeger-epages commented on #37
i added this in a [v1.9.0 pre release](https://github.com/cseeger-epages/mail2most/releases/tag/v1.9.0)

[2020-02-18 13:02] Fmyschkin commented on #35
Hi,

Thanks for your reply. Currently mail2most version 1.5.2 is used.

Please find enclosed our configuration files. We have SAML and LDAPSync enabled.
[mail2most_issue35.zip](https://github.com/cseeger-epages/mail2most/files/4219298/mail2most_issue35.zip)

Kind regards

[2020-02-18 13:08] cseeger-epages commented on #35
@Fmyschkin please uncomment the `Password=''` line and leave it empty and try again.

[2020-02-18 13:11] cseeger-epages commented on #17
@del-c sorry to hear that can you provide some logs please. What exactly happens ?

[2020-02-18 13:36] Fmyschkin commented on #35
@cseeger-epages uncommented Password='' but same error appeared:

time="2020-02-18T14:33:46+01:00" level=error msg="Mattermost Error" Error=": Password field must not be blank, "

[2020-02-19 09:55] cseeger-epages commented on #35
ah please use a newer version then v1.5.2, v1.6.0 added AccessToken support i would recommend to use the latest stable version [v1.8.1](https://github.com/cseeger-epages/mail2most/releases/tag/v1.8.1)

[2020-02-25 09:50] cseeger-epages commented on #35
@Fmyschkin can you confirm it it is working ?

[2020-02-25 09:51] cseeger-epages commented on #37
its in a pre-release and available for users for issues with the Markdown conversion please open new issues.

[2020-02-25 09:51] #37 closed

[2020-03-03 10:29] cseeger-epages commented on #25
closed due to inactivity. Please reopen if needed

[2020-03-03 10:29] #25 closed

[2020-03-08 22:11] del-c commented on #17
@cseeger-epages : It seems to work with Gmail with  `TimeInterval = 600`. Sorry for the delay, you can mark this as completed. Thanks for your support !

[2020-03-08 22:11] #17 closed

[2020-03-20 10:27] cseeger-epages commented on #35
closed due to inactivity please reopen if needed

[2020-03-28 01:22] eyebank opened #39 "new install error on execution"
**Expected behavior**
A clear and concise description of what you expected to happen.
on execution
**Release version**
The version tag of the used version.: latest

**Architecture**
What architecture you use to run mail2most (windows, linux, arm, 32-bit/64bit): linux

**Additional context**
Add any other context about the problem here.

panic: runtime error: slice bounds out of range [:4294967295]

[2020-03-28 02:00] eyebank commented on #39
disregard. i figured it out.

[2020-03-28 02:00] #39 closed

[2020-03-28 02:05] eyebank opened #40 ""message not passing the filter""
How can i find out why this message is displayed in  log.

time="2020-03-27T21:59:02-04:00" level=debug msg="processing message" subject="xxxxx Donor xxxxxxx" uid=440
time="2020-03-27T21:59:02-04:00" level=debug msg="attachments found" filename="xxxxx Donor xxxxxxx.pdf"
time="2020-03-27T21:59:02-04:00" level=debug msg="message not passing the filter" subject="xxxxx Donor xxxxxxx" uid=440

[code]

[2020-03-28 15:22] cseeger-epages commented on #40
hi @eyebank, the message is shown in debug mode to see if a message is processed and when a filter is applyed to see if it passes the filter. Your message does not contain the Subject `Donor` so it does not pass the subject filter. If you don't want to see debug messages change the loglevel to error.

[2020-03-31 01:05] skkk-alp opened #41 "duplicate content"
When an mail2most is registered  to mattermost, the same content is duplicated.
Can't I erase the body html source of the mail?

`test message`
`<div dir="ltr">test message</div>`

[2020-04-01 11:41] cseeger-epages commented on #41
hi @skkk-alp does your message contain the message 2 times ?

[2020-04-02 07:51] skkk-alp commented on #41
hi @ cseeger-epages
One e-mail will be displayed as two.
do I config wrong?
![image](https://user-images.githubusercontent.com/62917230/78223655-394db600-7502-11ea-8b86-8fa7577ad6ca.png)

[2020-04-03 12:22] cseeger-epages commented on #41
@skkk-alp can you add your mail2most.conf (please delete all login information)

[2020-04-04 10:33] jprusch commented on #41
Same here:

[code]
Due to some limitations of our IMAP server implementation, we use a separate mail server (SMTP/IMAPS) to handle the mail transfer to Mattermost. Therefore I can control the body of the mails forwarded to Mail2Most. Right now, I just forward a link to the webmail client:

[code]
Still the content of the body is duplicated:
<img width="371" alt="mail2mostdup" src="https://user-ima

[2020-04-06 07:20] cseeger-epages commented on #41
@jprusch thanks for your feedback ill test it maybe there is something wrong with the `ConvertToMarkdown = true` option that duplicates the content.

[2020-04-06 07:39] cseeger-epages commented on #41
hm strange i can not reproduce the problem what version of mail2most did you use?

[2020-04-06 08:43] jprusch commented on #41
I guess 1.9.0. Latest release as it supports the ConvertToMarkdown property,

[2020-04-06 09:14] cseeger-epages commented on #41
@jprusch does this happen in all your profiles or just one?

[2020-04-06 09:50] jprusch commented on #41
Hi,
let me explain our handling:
- The default mail server we use is not fully IMAP compatible
- A mail user can define with rules to forward mail to a default mattermost mail addresse (same for all users
- A hmail server delivers incoming mattermost mails from the users by from: rules to separate imap folder
- Mail2Most connects with a single hmail user and per mattermost user profile retrieves t

[2020-04-06 13:06] cseeger-epages commented on #41
@jprusch can you add the following option to your configuration:

under `[DefaultProfile.Mattermost]` or `[Profile.Mattermost]`
`StripHTML = true` and test if this changes stuff ?

also you can test to set it to false and see how it behaves.

[2020-04-06 13:36] jprusch commented on #41
@cseeger-epages I tested both settings w/o any change:

[code]
See attached image:

<img width="344" alt="mail2mostdup2" src="https://user-images.githubusercontent.com/9337414/78564038-2b5aa680-781c-11ea-9255-1b90152857eb.PNG">

[2020-04-06 14:38] cseeger-epages commented on #41
oh i found it! your mail contains 2 parts the one `text/plain`
[code]
and another `text/html`

[code]

the base64 string results in:
[code]
thats why its contained twice its twice in the mail one as `text/plain` and another one in `text/html`

[2020-04-06 14:38] cseeger-epages commented on #41
mail2most by default decodes the base64 string

[2020-04-06 14:45] jprusch commented on #41
Great, eager to test a new version!

[2020-04-07 06:51] cseeger-epages commented on #41
@jprusch actually thats not a problem of mail2most :D your email just contains the content twice.

[2020-04-07 06:59] jprusch commented on #41
@cseeger-epages Not sure about this: It's good habit to include the content in text/plain and text/html to give the users a choice what to display. Not everyone wants to use HTML mail. I suggest skipping the text/plain part, if an text/html part is found.

[2020-04-07 07:02] jprusch commented on #41
Also the mail content is clearly marked as:
Content-Type: multipart/alternative;
I'm not a email structure specialist, but my guess is that the content of the multipart is the same & only one part should be displayed / parsed

[2020-04-07 07:07] cseeger-epages commented on #41
oh thats true i think the content-type makes the difference since excluding text/plain if text/html is there can lead to strange behavior but the content type marks it correctly ill check this and create a fix

[2020-04-07 07:11] jprusch commented on #41
@cseeger-epages You're my man! Did you check the mail parser cutting of the whole content embedded in mails being answered to?
https://github.com/justledbetter/mail2most/blob/master/lib/mailparse.go
Could be interesting to check this solution.

[2020-04-07 09:20] cseeger-epages commented on #41
there are nice changes in it i think i will adapt some of them when i have some more time.

[2020-04-07 10:52] cseeger-epages commented on #41
im on it https://github.com/cseeger-epages/mail2most/pull/42

[2020-04-07 10:58] cseeger-epages commented on #41
here is a beta build since i did not implement all tests for the new improvements:

[linux-386.tar.gz](https://github.com/cseeger-epages/mail2most/files/4443732/linux-386.tar.gz)
[linux-amd64.tar.gz](https://github.com/cseeger-epages/mail2most/files/4443734/linux-amd64.tar.gz)
[linux-arm.tar.gz](https://github.com/cseeger-epages/mail2most/files/4443735/linux-arm.tar.gz)
[linux-arm64.tar.gz](https:

[2020-04-07 11:02] jprusch commented on #41
I'll try...

[2020-04-07 11:14] jprusch commented on #41
Perfect! Fixed for the duplicate content bug.
Is there a new config setting RunAsService? I had to set this to true to keep the service running...

[2020-04-07 11:18] cseeger-epages commented on #41
yes it is there are some more configuration options added

[2020-04-07 11:20] jprusch commented on #41
Any documentation or example.conf ?

[2020-04-07 11:21] cseeger-epages commented on #41
https://github.com/cseeger-epages/mail2most/pull/42/files#diff-ce951b0a3ca8a82511a078521b3abd3f
will be published with the new release

[2020-04-07 11:31] jprusch commented on #41
Great, thanks!

[2020-04-07 11:31] eyebank commented on #40
Hi
@cseeger-epages, thank you for following up on this issue. I am not sure if the config file is correct.

This is the message in the log (S
![screen_1](https://user-images.githubusercontent.com/8021595/78664313-bfbb1c80-78a1-11ea-8cec-84190ea736bf.jpg)
![screen_2](https://user-images.githubusercontent.com/8021595/78664318-c3e73a00-78a1-11ea-98da-5a9801e373da.jpg)

anitized):
time="2020-03-27T22:

[2020-04-07 12:03] cseeger-epages commented on #41
its done https://github.com/cseeger-epages/mail2most/releases/tag/v1.10.1

[2020-04-07 12:03] #41 closed

[2020-04-07 12:03] cseeger-epages commented on #41
feel free to open again if something does not work as intended

[2020-04-07 12:09] cseeger-epages commented on #40
@eyebank is the message older than 24h ?

[2020-04-07 12:13] cseeger-epages commented on #40
you have applied a few filters
[code]
The first one is only selecting the folder so this should be no problem.
Then you have a `From` and `To` filter please check if the contained email addresses match the From and To in the mail.
Followed by the Subject match wich should match ^^ as far as i can see.
And last but not least the TimeRange of 24h so if the mail is older than 24h is will also not pas

[2020-04-09 12:11] jprusch opened #43 "Default header / footer above / below every mail"
As the message template used to display the mail content in MM cannot be edited w/o building the plugin, it would be great to have two additional profile settings in the [Profile:Mattermost] section:

BodyPrefix = "Markdown formatted string displayed BEFORE the mail body"
BodySuffix = "Markdown formatted string displayed AFTER the mail body"

If the mail body is not displayed, both BodyPrefix and

[2020-04-15 07:32] cseeger-epages commented on #43
done [v1.11.0](https://github.com/cseeger-epages/mail2most/releases/tag/v1.11.0)

[2020-04-15 07:32] #43 closed

[2020-04-15 07:34] jprusch commented on #43
Owe you some drinks... will test immed.

[2020-04-15 11:48] Fmyschkin commented on #35
Hi,
installed Version 1.8.1 and currently enclosed Error has been thrown:

op.api2412@f1108:/opt/mail2most$ sudo ./mail2most -c conf/mail2most.conf
DEBU[2020-04-15T13:42:19+02:00] using logging method                          format=text output=stdout
DEBU[2020-04-15T13:42:19+02:00] mailserver                                    server="ex.rubicon.eu:993" status=connected
DEBU[2020-04-15T13:42:19+0

[2020-04-15 11:51] Fmyschkin opened #45 "panic: runtime error: slice bounds out of range"
**Describe the bug**
Runtime Error: slice bounds out of range

**To Reproduce**
Steps to reproduce the behavior:
1. Install version 1.8.1
2. sudo ./mail2most conf/mail2most.conf
3. See error

**Release version**
1.8.1

**Architecture**
Linux 64 Bit

**Error Message**
op.api2412@f1108:/opt/mail2most$ sudo ./mail2most -c conf/mail2most.conf
DEBU[2020-04-15T13:42:19+02:00] using logging method

[2020-04-16 01:23] Stinteg opened #46 "Second profile never matching"
I'm sure I'm doing something wrong here, but no matter what I try, my second profile is never matching.  I can move the profile order, and and the first one will always match, so I know both filters are able to match.  I'm perplexed.

[[Profile]]
  IgnoreDefaults = false

  [Profile.Mattermost]
  Channels = ["#calls"]

  [Profile.Filter]
  Subject = ["Account: 12345"]

[[Profile]]
  IgnoreDefaults

[2020-04-16 07:19] cseeger-epages commented on #45
@Fmyschkin can you test if this problem persists with the latest release [v1.11.0](https://github.com/cseeger-epages/mail2most/releases/tag/v1.11.0)

[2020-04-16 07:20] cseeger-epages commented on #46
hi @Stinteg welcome and thank you for your ticket. What version did you use ?

[2020-04-16 12:57] Stinteg commented on #46
Thank you for the quick reply.  The version I'm running is:  mattermail-3.5.0.linux.am64.tar.gz

[2020-04-17 19:57] Stinteg commented on #46
I'm not sure how to tell what version, but I downloaded the latest version that was there on April 7, 2020.

[2020-04-21 09:20] matthiasstukenberg opened #47 "Service not connecting to server"
Hej,
my mail2most service is not connecting or picking up anything from my mail server.
Currently my config looks like this:

[mail2most.txt](https://github.com/cseeger-epages/mail2most/files/4508928/mail2most.txt)

I am using the latest version (**1.11.0** as of writing this) and running it as systemd service on **Linux** CentOS7 System as **amd64** version.
Logging to stdout leaves me clueless s

[2020-04-21 12:11] #45 closed

[2020-04-21 12:12] Fmyschkin commented on #45
Hi,
update to v1.11.0 solved the issue.

[2020-04-21 13:43] Stinteg commented on #46
The second profile doesn't appear to match if I switch from "Subject" to "From" either.

[2020-04-22 07:01] cseeger-epages commented on #45
great :)

[2020-04-22 07:05] cseeger-epages commented on #47
hi @matthiasstukenberg thank you for opening this ticket. Port 143 uses STARTTLS instead of SSL/TLS maybe there is a problem with that. As a workaround does your mailserver also provider port 993 which is SSL/TLS connection if yes please try to use the 993 port and test if it works.

I'll take a look at the STARTTLS problems as soon as i have time.

[2020-04-23 07:42] matthiasstukenberg commented on #47
Thank you, yes, I can use Port 993 as well, but to the same problem, as I said, it is not even trying to connect and not providing an error, since I see no logon tries on the mailserver end.
Firewall is not itnerfering.

[2020-04-26 01:33] justledbetter commented on #46
This took me forever to figure out, too - the configuration file format is somewhat opaque.

I was able to get it to work with the following basic config file; Details redacted and some obvious settings omitted.  Hope this helps!

`[General]
...

[Logging]
...

[DefaultProfile]
  [DefaultProfile.Mail]
    ImapServer = "imap.mail.us-east-1.awsapps.com:993"
    (options)

  [DefaultProfile.Mattermos

[2020-04-28 15:58] cseeger-epages commented on #47
@matthiasstukenberg can you provide more log information ?

[2020-04-30 12:07] matthiasstukenberg commented on #47
unfortunately no, since mail2most is not generating any logs... neither if I start interactive with stdout nor with the logging to textfile.

[2020-04-30 13:30] Stinteg commented on #46
I'm using a single e-mail address and trying to differentiate by subject.  I can't seem to figure out why this isn't be working.

`
[General]
  File = "data.json"
  RunAsService = true
  TimeInterval = 10

[Logging]
  Loglevel = "debug"
  LogType = "text"
  Output = "logfile"
  Logfile = "mail2most.log"

[DefaultProfile]
  [DefaultProfile.Mail]
    ImapServer = “mail.mydomain.com:993"
    Username

[2020-05-03 20:54] jserve commented on #47
I had the same when I just put my login data into the default set and deleted the profile entries, after I just editied the profile sections and data it worked fine. (I had also not any kind of log informations when I only used the default sections).
Perhaps this information is helpful for you.

[2020-05-04 06:30] cseeger-epages commented on #47
oh yeah that is true the defaults are only defaults for a profile. At least a `[Profile]` section needs to exists even when nothing more is set in the profile since it will use the defaults.

[2020-05-04 06:54] kimsinhack opened #48 "install error"
hi. while installing mail2most i got error and could not find any information about this error
please help me out!!

**Describe the bug**
after clone the mail2most
move to mail2most folder and excute "mage build"
it print out error

all error reports are below----------------------------
cleaning up
?       github.com/cseeger-epages/mail2most     [no test files]
=== RUN   TestLoadConfigNoFile
---

[2020-05-04 07:31] jprusch commented on #48
Check your permissions:
open /tmp/data.json: permission denied"

[2020-05-04 07:47] kimsinhack commented on #48
i checked /tmp/ direction and there are no data.json file
and find / -name data.json  show nothing.

about permission i logged into root permission and excuted all the commends.
the ~/plugins/mail2most folder was owned by root and mattermost, and didnot show any differnece.

did i miss something? or missunserstood?

[2020-05-04 08:18] cseeger-epages commented on #48
@kimsinhack you can download the already build binary from the [releases](https://github.com/cseeger-epages/mail2most/releases) page.

If you do want to build it by yourself maybe for a specific architecture that is not covered (if its so please name it so i can add it in the release build process :P ) check if you have the latest go version (go 1.14 as of this writing).

What fails here are the t

[2020-05-04 08:24] cseeger-epages commented on #47
sorry for the long delays i hope to get a bit into this into the next days

[2020-05-04 08:24] cseeger-epages commented on #46
sorry for the long delays i hope to get a bit into this these days and make some tests.

[2020-05-05 05:34] cseeger-epages commented on #35
hi @Fmyschkin can you test this with the latest version of mail2most ?

[2020-05-06 07:35] matthiasstukenberg commented on #47
oh ok, will give it a try! Thank you.

[2020-05-06 13:14] matthiasstukenberg commented on #47
So this is it, thanks for your support, adding a non default configuration did the trick.

[2020-05-06 13:14] #47 closed

[2020-06-19 20:44] agentlibre opened #50 "Error in IMAP command FETCH: Invalid messageset"
**Describe the bug**

Authentification is working :heavy_check_mark:
Emails are being identified :heavy_check_mark:
Can't retrieve/fetch the emails :cry:

[code]

**Expected behavior**
Emails should be fetched and sent to the dedicated Mattermost channel.

**Release version**
v1.11.1 (last available)

**Architecture**
- Ubuntu 18.04
- Docker Swarm

**Additional context**

- Provider's IMAP perfect

[2020-07-23 07:34] cseeger-epages commented on #50
Hi @agentlibre thanks for opening an issue here at mail2most.

Can you give me some more information about this issue:
- Do you use some E-Mail provider or an on premise mail server?
- If it is on premise, what mailserver are you using and what version?

I will try to reproduce the issue if possible to provide a fix.

[2020-07-23 07:34] #48 closed

[2020-07-23 07:34] #40 closed

[2020-07-23 07:35] cseeger-epages commented on #35
closed due to inactivity, feel free to open again if nessesary.

[2020-07-23 07:35] #35 closed

[2020-07-23 07:35] cseeger-epages commented on #48
closed due to inactivity, feel free to open again if nessesary.

[2020-07-23 07:35] cseeger-epages commented on #40
closed due to inactivity, feel free to open again if nessesary.

[2020-07-27 09:45] agentlibre commented on #50
Hi @cseeger-epages, thanks for the follow-up.

I am using Switzerland's first E-mail provider, Infomaniak. No on-premise mail server.

[2020-08-01 09:51] c-seeger commented on #50
@agentlibre i have added an option that allowes you to ignore UID from the server and mail2most generates them from the messageID by itself (hopefully to be unique). This option is called

[code]

see [issue-50/invalid-messageset/mail2most.conf](https://github.com/Virtomize/mail2most/blob/issue-50/invalid-messageset/conf/mail2most.conf) for an example configuration or just add `GenerateLocalUIDs =

[2020-08-01 11:36] c-seeger commented on #46
@Stinteg i tested this with the following filters and it worked properly

[code]

[2020-08-04 15:36] blackde5ert commented on #46
Hi,
I have the same problem. I think it is because mail2most marks the mails as read, even if the filter does not apply.

If you want only new (unread) mails to be posted in Mattermost, you have to set the following
[code]
Which causes the mails to be marked as read, if it has been processed. In connection with this the following settings must then be made:
[code]

If you have two profiles which a

[2020-08-05 11:31] c-seeger commented on #46
The `ReadOnly` flag controls the behavior when reading the mails since when set to `true` no flags will change (if the mailserver implements the rfc correctly which is often not the case and the read only flag is ignored).
The `Unseen` option parses the `unseen` flag from the mail.

`ReadOnly = true` and `Unseen = true` should work als mail2most saves the information if a mail was already since ma

[2020-08-05 12:54] blackde5ert commented on #46
Oh ok, that's not a given. But perfect, now it works. Thanks!

[2020-08-05 14:01] c-seeger commented on #46
I'll close this case for now, if this does not work for @Stinteg feel free to reopen

[2020-08-05 14:01] #46 closed

[2020-08-05 19:57] Stinteg commented on #46
Setting "ReadOnly = true" and "Unseen = true" remedied the issue.  We are now getting notifications from both profiles.  Thanks!

[2020-08-05 20:28] c-seeger commented on #46
Great! Thanks at this point to @blackde5ert for pointing this out. I added more description to the mail2most.conf for better understanding.

[2020-08-18 13:56] aseques opened #52 "I can't start the docker image"
**Describe the bug**
I am trying to start the dockerized mail2most instance (totally newbie in docker here) with my custom configuration according to the instruccions [here](https://github.com/Virtomize/mail2most)

**To Reproduce**
Steps to reproduce the behavior:
1. Created mattermost.conf using the config from [example configuration](https://github.com/virtomize/mail2most/blob/master/conf/mail2m

[2020-08-20 07:19] c-seeger commented on #52
hello @aseques thank you for your issue.

first of, but i think this is only a typo in number 2 of the `To Reproduce` section:
[code]
(without the 3 at the end)

The actuall error you describe looks like your mail2most.conf contains multiple `[General]` sections. Can you dump your mail2most.conf here. Be sure to remove all personal data like mail addresses, passwords, tokens, etc.

The config shou

[2020-08-20 11:05] aseques commented on #52
Thanks @c-seeger it was a paste error as you deduced, my fault, thanks a lot.

[2020-08-20 11:05] #52 closed

[2020-08-21 06:41] aseques opened #53 "A possibility to view the request sent to mattermost"
I am currently trying to debug an issue where mail2most doesn't create the message in mattermost and getting a 400 error from mattermost ("Invalid or missing email parameter in request URL.")

**Describe the solution you'd like**
If there was a way to enable the printing of the full request being done via http to mattermost I could check their api and locate the exact issue (maybe a missing parame

[2020-08-21 08:29] c-seeger commented on #53
hello @aseques can you add some log information? Are you trying to send to a secific user via email address? Make sure the emails is correct and exists in mattermost, as an alternative you can also use the username instead of email.

[2020-08-21 12:54] aseques opened #54 "Issue when the image filename has '-' in it."
**Describe the bug**
When sending an email to mattermost via mail2most, it doesn't get posted in mattermost if it has hyphens in filename. There's an error about "attachment already exists"

**To Reproduce**
1. Send an email with image attachment called screen_record.png
2. No issues
3. Send the same image now called screen-record.png
4. On mattermost the post will be only the text part without an

[2020-10-18 17:38] yigitkonur opened #55 "Parsing Issue of Team Name with Dots"
**Describe the bug**
I was trying to implement mail2most or my team name (zeo.org) but it does not work. When I change to name to `Zeo` it starts to work. I think it is related with the dot.

**To Reproduce**
Steps to reproduce the behavior:
1. Creata a team like github.com
2. Try to integrate, it will return:

[code]

3. Change the team name to github
4. Then update config and it will work.

[2020-10-18 17:38] jprusch commented on #55
Sehr geehrte Damen und Herren,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Ihre Mail wird NICHT weitergeleitet und nach meiner Rückkehr bearbeitet.

In dringende Fällen wenden Sie sich bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de).

Mit freundlichen Grüßen

i.V. Jan-Peter Rusch

TEL +49 (0)571-502-145
j.rusch@schaeferb

[2020-10-18 17:38] jprusch commented on #55
Liebe Kollegen,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Die Mail wird NICHT weitergeleitet und nach meiner R++ckkehr bearbeitet.

In dringende F+ñllen wendet Euch bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de) oder erfasst ein Ticket ++ber

https://connect.schaeferbarthold.de/jira/servicedesk/customer/portal/3

Lieb

[2020-10-18 17:44] jprusch commented on #55
Liebe Kollegen,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Die Mail wird NICHT weitergeleitet und nach meiner R++ckkehr bearbeitet.

In dringende F+ñllen wendet Euch bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de) oder erfasst ein Ticket ++ber

https://connect.schaeferbarthold.de/jira/servicedesk/customer/portal/3

Lieb

[2020-10-18 17:44] jprusch commented on #55
Sehr geehrte Damen und Herren,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Ihre Mail wird NICHT weitergeleitet und nach meiner Rückkehr bearbeitet.

In dringende Fällen wenden Sie sich bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de).

Mit freundlichen Grüßen

i.V. Jan-Peter Rusch

TEL +49 (0)571-502-145
j.rusch@schaeferb

[2020-10-21 07:09] c-seeger commented on #55
hello @yigitkonur thanks for your issue. mattermost uses a relativly strict naming policy have you tried to use the team ID instead of its name since if the name contains special characters it can not be used in the `...ByName...` functions anymore.

[2020-10-21 07:09] jprusch commented on #55
Sehr geehrte Damen und Herren,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Ihre Mail wird NICHT weitergeleitet und nach meiner Rückkehr bearbeitet.

In dringende Fällen wenden Sie sich bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de).
Mit freundlichen Grüßen
i.V. Jan-Peter RuschTEL +49 (0)571-502-145
j.rusch@schaeferbarth

[2020-10-21 07:16] c-seeger commented on #55
sorry for the autoreply stuff of @jprush i try to find a way to prevent this

[2020-10-21 07:16] jprusch commented on #55
Sehr geehrte Damen und Herren,

ich bin vom 12.10.2020  bis zum 01.11.2020  nicht im Hause und habe daher leider keinen Zugriff auf meine E-Mails.

Ihre Mail wird NICHT weitergeleitet und nach meiner Rückkehr bearbeitet.

In dringende Fällen wenden Sie sich bitte an Hr. Tarrach (v.tarrach@schaeferbarthold.de).
Mit freundlichen Grüßen
i.V. Jan-Peter RuschTEL +49 (0)571-502-145
j.rusch@schaeferbarth

[2020-11-27 08:59] c-seeger commented on #54
issue seems fixed but no review comment - closed due to inactivity

[2020-11-27 08:59] #54 closed

[2020-11-27 09:04] c-seeger commented on #50
PR merged

[2020-11-27 09:04] #50 closed

[2020-12-29 11:13] mario-evangelista-silva opened #56 "Plugin Mail2most"
would it be possible to create a mail2most plugin for "mattermost"? other features are added to the mattermost only with a plugin and some basic settings.

[2020-12-29 11:16] mario-evangelista-silva commented on #56
I am trying to use mail2most tgz to upload to the mattermost and I receive the following message: "The manifest for the extracted plugin could not be found"

[2020-12-30 11:02] c-seeger commented on #56
Hello @mario-evangelista-silva thank you for opening a case here.
For now mail2most is a self running service. But I'm thinking about rewriting it to into the standard plugin infrastructure for mattermost.
However I don't expect this to happen any time soon since I don't have much time at the moment.

I will keep this case open as a reminder for myself and go for it when i have some time.

[2020-12-30 11:04] c-seeger commented on #55
closed due to inactivity

[2020-12-30 11:04] #55 closed

[2021-01-05 10:02] eric-underdock opened #57 "Cannot start mail2most linux-amd64 on CentOS 7 - GLIBC_2.32 not found"
Hi!

I've downloaded and configured mail2most linux-amd64 on a CentOS 7 64Bit machine but I cannot start mail2most, GLIBC_2.32 not found.
I've installed glibc.x86_64 and gelibc.i686, both version 2.17-317.el7 but still the same result.

What can I do to solve this issue?

Best regards,

Eric
![mail2most](https://user-images.githubusercontent.com/76998555/103633001-6887cc80-4f45-11eb-8a29-72a2cde99

[2021-01-05 11:18] eric-underdock commented on #57
Okay, tried the "linux-386" build and this one works :-)
So ignore this issue, please.

[2021-01-05 11:18] #57 closed

[2021-03-28 21:13] doncoffin opened #58 ""To" filter doesn't filter on incoming messages sent to an email alias"
Messages sent to an email alias are not parsed on the used alias but are instead parsed on the final destination address.

** To reproduce **
1. Create IMAP folder foo-user@example.com
2. Create system email alias bar-user@example.com
3. Configure mail2most to filter on To = ["bar-user"] # could also be ["bar-user@example.com"]
4. Send message to bar-user@example.com, watch mail2most logs
5. Messa

[2021-03-29 10:28] c-seeger commented on #58
hi @doncoffin thank you for your issue. You are right for now m2m doesn't account for mail aliases. I'll see if i can add this feature.

[2021-04-02 19:49] dgarlans opened #59 "Does mail2most support STARTTLS?"
I'm getting timeout errors connecting to my mail server, and I'm wondering if the issue is that the server is setup to use STARTTLS as the encryption method rather than the other ssl/tls method.

Please let me know if that might be the case!

[2021-04-03 00:44] dgarlans commented on #59
I have confirmed that out-of-the-box, mail2most does not support StartTLS.

However, the underlying imap module does support it. I edited the code and got it to connect, by first doing a client.dial() as it would for the non-tls connection, but then calling client.StartTLS() which worked fine. The code works, although I did break the entire test suite in the process.

[2021-04-04 15:25] c-seeger commented on #59
hi @dgarlans thanks for your issue your are right i added a StartTLS option in the profile configuration just set `ImapTLS=false` and instead add `StartTLS=true` if your mailserver has a port you can remove it since `143` is used. Can you test the following binary with the new configuration and confirm if everything works as expected?

[windows-amd64.tar.gz](https://github.com/Virtomize/mail2most/

[2021-04-05 20:26] dgarlans commented on #59
Unfortunately I can't seem to run the build, I get "./mail2most: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.32' not found (required by ./mail2most)" on my Debian 10 server. I'll try to download and build the new code myself to see if it works.

[2021-05-27 07:30] nicolasguenther opened #61 "Content filter to prevent mail text from being stripped"
When using mail2most i encounter problems where mail content is stripped when it contains certain combinations of characters which are interpreted as markdown (colon, hyphen, pipe etc.).

I propose a new setting for a profile that enables me to specify certain characters which will be filtered out before posting the text in a mattermost channel.

An alternative would be to start/end escaping using

[2021-05-27 08:01] c-seeger commented on #61
hello @nicolasguenther thank you for opening an issue here. I'll take a look into this.

Is this only a problem with markdown interpreted characters?
Maybe a `StripMarkdown` analog to `StripHTML` would be easier instead of a filter list.

[2021-05-27 09:00] nicolasguenther commented on #61
Thanks @c-seeger. `StripMarkdown` looks convenient. I'm not sure it would solve my problem though. The problem occurs especially when the mail content contains colon characters which are used as control characters to enter emojis. I'll prepare and post an example later.

[2021-05-27 10:10] nicolasguenther commented on #61
Example mail body 1:

[code]

Result: Non printable characters are shown in the mattermost channe `M�-`

Example mail body 2:

[code]

Result: Second line is stripped and not displayed in mattermost channel. Note: There is a space character at the end of the first line.

[2021-06-01 06:49] nixbedman opened #62 "HTML"
Hello. Removes the body from the letter. Receive an alert from a third-party site jivosite.ru, mail2most transmits only the header. Please help me. thank you.
Changed settings, same error (SubjectOnly = false):
  StripHTML
  ConvertToMarkdown

 time="2021-06-01T07:01:30+06:00" level=error msg="Mattermost Post Error" error=": Неверные идентификаторы файлов. Обратите внимание, что загрузка ограничен

[2021-06-01 07:20] c-seeger commented on #62
hello @nixbedman and thank you for your issue.
Can you describe the issue a bit more please?

You get a mail from jivosite.ru containing multiple attachments (as of the russian error message)?
It should be send to your Mattermost (which is russian language i think?) which does not work?

This is the error message (just for documentation):
[code]

So it seems that your mail contains more than 5 att

[2021-06-01 11:01] nixbedman commented on #62
Thanks for being quick. The letter contains HTML. It's got pictures. I can forward the email to you. MailAttachments false does not help. 5 files is a Mattermost constraint.
![изображение](https://user-images.githubusercontent.com/71877034/120312626-cb19a480-c2fa-11eb-9c81-6cc40816914b.png)
mail
![изображение](https://user-images.githubusercontent.com/71877034/120312718-e684af80-c2fa-11eb-8db4-e7b

[2021-06-01 11:17] c-seeger commented on #62
I've added the limit to the code please test if it helps. The implementation now only send the first 5 attachments the rest is ignored for now.

[windows-amd64.tar.gz](https://github.com/Virtomize/mail2most/files/6575792/windows-amd64.tar.gz)
[windows-386.tar.gz](https://github.com/Virtomize/mail2most/files/6575793/windows-386.tar.gz)
[linux-arm64.tar.gz](https://github.com/Virtomize/mail2most/fil

[2021-06-01 12:23] c-seeger commented on #62
I now properly fixed the maximum of 5 attachments issue. Mail2Most will now recognize if there are more than 5 attachments and will create multiple posts.
The first one will contain the normal configured output all other only containing the From header (if configured) + additional attachments in correct order of the posts. Please test the following build.

[linux-arm64.tar.gz](https://github.com/V

[2021-06-01 12:24] c-seeger commented on #59
@dgarlans  any updates on this?

[2021-06-01 12:26] c-seeger commented on #61
@nicolasguenther i actually can't reproduce the issue both mail bodys work correctly on the latest build.

[2021-06-02 05:38] nixbedman commented on #62
Thanks.
Messages now come to the chat.
Commands do not affect the display of the letter, and attachments still come:
ConvertToMarkdown
StripHTML
MailAttachments

[2021-06-02 08:47] c-seeger commented on #62
Great i'll merge the fix and build a new release. Thank you @nixbedman very much for finding this issue and help making mail2most better.

[2021-06-02 08:47] #62 closed

[2021-06-02 09:08] c-seeger commented on #62
latest release can be found [here](https://github.com/Virtomize/mail2most/releases/tag/v1.11.5)

[2021-06-02 09:08] c-seeger commented on #59
I added support for StartTLS in the [v1.11.5 release](https://github.com/Virtomize/mail2most/releases/tag/v1.11.5)

[2021-06-02 09:08] #59 closed

[2021-06-02 09:09] c-seeger commented on #59
@dgarlans feel free to reopen the issue if something does not work as expected and thank you very much for your issue

[2021-06-10 15:38] cascha42 opened #64 "No forwarding if body is missing (blank message)"
Hi,

im having some trouble forward e-mails to mattermost with an empty body.
and no, unfortunately the sender cannot be changed to send content.
(current version v1.11.5)

one of these mails looks like this:

[code]

in the log you can see the message, i think it get's ignored as is it should be normally ("blank message"

[code]

is there a way to fix my special problem?

many thanks!!

cascha

[2021-06-11 06:11] c-seeger commented on #64
Hello @cascha42, thank you for your issue. I'll take a look into it and see if i can reproduce it.

[2021-06-11 06:40] c-seeger commented on #64
@cascha42 I was able to reproduce the issue and added an additional config option to `Profile.Mattermost`/`DefaultProfile.Mattermost` called `SkipEmptyMessages`. The default is now false so mail2most will not skip empty messages but this can be configured as needed.

Please test the following build if this solves your problem:

[windows-amd64.tar.gz](https://github.com/Virtomize/mail2most/files/66

[2021-06-11 10:30] cascha42 commented on #64
Hey @c-seeger, what a quick response!! :flushed:

i did some test with the ```SkipEmptyMessages``` option and everything works just flawlessly and get's forwarded as desired!

thank your so much for your awesome work and please keep going on! :+1:

greetings
cascha

[2021-06-11 10:30] #64 closed

[2021-06-11 11:48] c-seeger commented on #64
Build into the [v1.11.6 release](https://github.com/Virtomize/mail2most/releases/tag/v1.11.6).

[2021-06-16 10:10] jprusch opened #66 "Missing GLIBC 2.32"
After upgrade to the latest 1.11.6 the following error is thrown when executing mail2most:

./mail2most: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.32' not found (required by ./mail2most)

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to 1.11.6
2. Execute ./mail2most

**Expected behavior**
mail2most is starting

**Release version**
1.11.6

**Architecture**
Linux Debian 10.6

[2021-06-16 10:17] jprusch commented on #66
Latest working version is 1.11.2

[2021-06-16 11:52] c-seeger commented on #66
Hello @jprusch thanks for your issue i'll take a look into this.

[2021-06-17 09:41] c-seeger commented on #66
He @jprusch can you test out this build. I changed the build process to link stuff static espeacially the glibc itself.

[windows-amd64.tar.gz](https://github.com/Virtomize/mail2most/files/6669116/windows-amd64.tar.gz)
[windows-386.tar.gz](https://github.com/Virtomize/mail2most/files/6669117/windows-386.tar.gz)
[linux-arm64.tar.gz](https://github.com/Virtomize/mail2most/files/6669118/linux-arm64.t

[2021-06-17 09:45] jprusch commented on #66
Works. Thx for the fast fix!

[2021-06-17 09:45] #66 closed

[2021-06-17 09:52] c-seeger commented on #66
Great @jprusch thanks for your issues and helping making mail2most better :heart:

I build the fix into the [v1.11.7 release](https://github.com/virtomize/mail2most/releases/tag/v1.11.7)

[2021-07-20 20:56] mildred opened #68 "Possible deadlock with messages with no body"
**Describe the bug**

In my mailbox, I have a message with no body, only headers, and it seems mail2most is blocking on it. it stops working just after showing the `processing message` for this message.

**Expected behavior**
mail2most stops processing, no message is sent to mattermost

**Release version**
v1.11.7

**Architecture**
amd64

**Additional context**
I cannot publish the content of the

[2021-07-20 20:59] mildred commented on #68
Possibly it's the server that never responds when requesting the body, I cannot be sure.

[2021-07-21 06:54] c-seeger commented on #68
Hello @mildred thank you for your issue. I'll take a look at this issue and test out if empty body mails work as soon as i can.

[2021-09-28 22:59] Philmod commented on #61
Hi,

I also see some text stripped from email, for example this email (in Plain Text Mode in Gmail):

[code]

renders like this in Mattermost:

[code]

In the mail2most config, we use ```StripHTML = false``` and ```ConvertToMarkdown = false```.

It seems like the lines after a `:\n` go missing?

Any idea how to fix it?

Thanks

[2021-09-29 05:08] c-seeger commented on #61
Thanks @Philmod for bringing this up. Interesting behavior, I'll take a look on this and check if I can reproduce this.

[2021-10-05 15:04] Philmod opened #69 "Options not applied to profile"
**Describe the bug**
The options `StripHTML` and `ConvertToMarkdown`, with a different value than for the default profile, are not applied correctly.

**To Reproduce**
![Screen Shot 2021-10-05 at 10 49 46 AM](https://user-images.githubusercontent.com/818310/136049343-c8996307-dade-4781-ba4c-1664d1926ece.png)

**Expected behavior**
I'm expecting the messages not to be transformed to markdown in thi

[2021-12-02 11:04] roru2k20 opened #70 "Stop after empty inbox"
After mail2most check my second inbox he stopped because in my second inbox is no mail at the moment.

[code]

Is this a bug or can I say check further so long you have profiles?

Thanks,
Axel

[2021-12-05 17:34] c-seeger commented on #70
Hello @roru2k20 did you configured mail2most to run as a service?
https://github.com/Virtomize/mail2most/blob/dc4e475bd65be75aed6651c08743588f19e4e7a6/conf/mail2most.conf#L6

[2021-12-05 17:35] c-seeger commented on #69
thanks @Philmod for opening your issue I'll take a look at this.

[2021-12-06 05:51] roru2k20 commented on #70
Hello @c-seeger,
no I have not configured as a service. At the moment it can not run as a service, because I use Mattermost on Cloudron Plattform. I must check how can I run a second service persistant in a closed packet container.

[2021-12-06 07:06] roru2k20 opened #71 "Body suffix include a link to webmail"
It would be great when a user can add a link to webmail in Body suffix like
`BodySuffix = "[https://webmail.domain.xyz/]"`
so you can open the webmail system by click on one post.

[2021-12-06 10:50] c-seeger commented on #70
are there more inboxes configured than these two?

[2021-12-06 11:31] roru2k20 commented on #70
Yes I have configured 4 inboxes.

[2021-12-06 13:02] c-seeger commented on #70
can you provide a sample config file for me? (please remove any private data)

[2021-12-06 13:35] Philmod commented on #61
Hi @c-seeger, any update on this bug?

[2021-12-06 13:36] roru2k20 commented on #70
`
# An example Mail2Most configuration

[General]
  # File contains the default file location where mail2most stores its data
  File = "data.json"
  # RunAsService true:
  # check regularly using TimeInterval for new emails
  # false:
  # just check once when u start - requires to restart mail2most for checking again
  RunAsService = false
  # global time interval for checking mails in seconds
  T

[2021-12-07 05:07] roru2k20 commented on #70
I can't explain it, but it works. Now I get mails from the third account, while the second account has no new mails.

[2021-12-07 05:07] #70 closed

[2022-01-05 12:39] zaengerlein opened #72 "Reply via e-mail to Mattermost messages / posts"
**Is your feature request related to a problem? Please describe.**
I receive mails from Mattermost when my username is mentioned in a post / message and I would like to reply via e-mail.

**Describe the solution you'd like**
If I could just reply to the Mattermost mail and mail2most would post my e-mail reply in Mattermost in the respective thread that would cover my use case.

**Describe alternat

[2022-02-16 21:44] Philmod commented on #69
Hey @c-seeger, any update on this issue?

[2022-02-16 21:44] Philmod commented on #61
Hey @c-seeger, any update on this issue?

[2022-02-20 14:37] c-seeger commented on #61
hello @Philmod sorry not atm will take a look as soon as i find some time

[2022-06-30 13:30] burnoutberni opened #73 "Post body as thread reply"
With the new Mattermost 7 default threading behavior, it would be great to split a new incoming mail into multiple messages. Mail2Most could start a new thread with each mail subject, but the body could be posted as the first reply to this thread. This way, the mail body wouldn't take up so much space, but would still remain accessible to everyone who needs to read it.

[2022-07-01 18:39] c-seeger commented on #73
That sounds like a great idea :+1: . Feel free to prepare a PR since currently i don't have much time. Otherwise i will mark it and once i have some time I will take a look.

[2022-07-03 17:28] burnoutberni commented on #73
So I briefly looked into it, but I don't know Go and the tooling at all and I also won't find the time in the next two months to get started on it. I did check out the Mattermost API a bit though, so I'd briefly describe what I would do and maybe that's of help to you or someone else (or not):

I don't think you can easily post more than one message at the same time using the API. To start a threa

[2022-08-10 18:36] patrickmelix opened #74 "TLS Options Ignored in Profiles"
**Describe the bug**
When I set the TLS options `ImapTLS` and `StartTLS` in a profile, they have no effect. Only the options set in the default profile affect the outcome.

**To Reproduce**
Steps to reproduce the behavior:
1. Set options  `ImapTLS` and `StartTLS` in the *default profile* so that they match your setup.
2. Set options  `ImapTLS` and `StartTLS` in the *profile* so that they **do not*

[2022-08-26 09:53] nixbedman opened #75 "markdown"
**Describe the bug**
I try to pass the table in the letter, but just the text comes. I tried to change the parameters, but there is no result. if you insert a direct into the chat, then the table is beautiful, otherwise the text. As I understand mail2most inserts extra empty lines, because of this mattermost does not understand. I ask for help. Thank you in advance.

StripHTML = false\true
Convert

[2022-09-19 17:33] gabor-boros opened #76 "Regex for From/To filters"
**Is your feature request related to a problem? Please describe.**
It seems that mail2most is not handling regex for filtering from/to email addresses.

**Describe the solution you'd like**
`Filter.To` and `Filter.From` could parse regex and check for emails based on that. To indicate regex patter, two new options could be introduced to make regex usage explicit:

* `Filter.ToRegex`, and
* `Filter